body {
    font-family: sans-serif;
}

footer{background-color:black;color:white}
body {
    font-family: sans-serif;
}

footer{background-color:black;color:white}

img:hover{border:5px solid red;transition: 1s linear;
height: 450px;width: 450px;}
body {
    font-family: sans-serif;
}

footer{background-color:black;color:white}

img:hover{border:5px solid red;transition: 1s linear;
height: 450px;width: 450px;}
body {
    font-family: sans-serif;
}
